{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page !</title>
</head>
<body>
<h1>Hello World !</h1>

<p>
    My hello world rox ;)
</p>
</body>
</html>